@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
/* Font Lora */

@font-face {
  font-family: 'Lora';
  src: local('Lora'), url(/fonts/Lora/Lora-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'), url(/fonts/Lora/Lora-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'), url(/fonts/Lora/Lora-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'), url(/fonts/Lora/Lora-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'), url(/fonts/Lora/Lora-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
/* Font Spartan */
@font-face {
  font-family: 'Spartan';
  src: local('Spartan'), url(/fonts/Spartan/Spartan-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: local('Spartan'), url(/fonts/Spartan/Spartan-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: local('Spartan'), url(/fonts/Spartan/Spartan-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: local('Spartan'), url(/fonts/Spartan/Spartan-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: local('Spartan'), url(/fonts/Spartan/Spartan-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
